## Chapter 4 - Lists and loops

In [1]:
seq_1 = "ATCGTACGATCGATCGATCGCTAGACGTATCG"
seq_2 = "actgatcgacgatcgatcgatcacgact"
seq_3 = "ACTGAC-ACTGT-ACTGTA----CATGTG"

In [3]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 232]

In [5]:
my_name = "Peter"
print(my_name[0])

P

In [6]:
print(apes[0])

Homo sapiens

In [7]:
first_site = conserved_sites[2]
print(first_site)

232

In [8]:
print(len(my_name))

5

In [9]:
print(len(apes))

3

In [14]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
#               0            1                 2
#               -3           -2               -1
print(apes[0])
print(apes[1])
print(apes[2])
print()
print(apes[-3])
print(apes[-2])
print(apes[-1])

Homo sapiens
Pan troglodytes
Gorilla gorilla

Homo sapiens
Pan troglodytes
Gorilla gorilla

In [22]:
# start at element 0
# end before element 2
print(apes[0:2])
print(apes[1:-1])
print(apes[1:50])  # second coordinate aka second index is past the end of the list
print(apes[1:])    # from index 1 to the end
print(apes[0:2])
print(apes[:2])    # from the start, stop before index 2

['Homo sapiens', 'Pan troglodytes']
['Pan troglodytes']
['Pan troglodytes', 'Gorilla gorilla']
['Pan troglodytes', 'Gorilla gorilla']
['Homo sapiens', 'Pan troglodytes']
['Homo sapiens', 'Pan troglodytes']

In [25]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
#               0            1                 2
#               -3           -2               -1
print(apes[-2])
print(apes[-2:])
print(apes[0:-1])

Pan troglodytes
['Pan troglodytes', 'Gorilla gorilla']
['Homo sapiens', 'Pan troglodytes']

In [32]:
# lists are mutable
# if we do something to a list, the list changes
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
apes.append("Pan paniscus")
print(apes)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla', 'Pan paniscus']

In [36]:
# strings are immutable
# if we do something to a string, the original string doesn't change
my_name = "Pete"
my_name + "r"
print(my_name)
result = my_name.upper()
print(my_name)
print(result)

Pete
Pete
PETE

In [33]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
result = apes.append("Pan paniscus")
print(result)

None

In [34]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
apes = apes.append("Pan paniscus")
print(apes)

None

In [37]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys
print(primates)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla', 'Papio ursinus', 'Macaca mulatta']

In [38]:
apes = ["Homo sapiens"]
more_apes = apes + "Pan troglodytes"
print(more_apes)

TypeError: can only concatenate list (not "str") to list

In [40]:
apes = ["Homo sapiens"]
apes.append("Pan troglodytes")
print(apes)

['Homo sapiens', 'Pan troglodytes']

In [43]:
# when I am adding I must add a list
apes = ["Homo sapiens"]
more_apes = apes + ["Pan troglodytes"]
print(more_apes)

['Homo sapiens', 'Pan troglodytes']

In [44]:
# when I am appending I must append a value
apes = ["Homo sapiens"]
apes.append(["Pan troglodytes"])
print(apes)

['Homo sapiens', ['Pan troglodytes']]

In [45]:
ranks = ["kingdom", "phylum", "class", "order", "family"]
print(ranks)
ranks.reverse()
print(ranks)

['kingdom', 'phylum', 'class', 'order', 'family']
['family', 'order', 'class', 'phylum', 'kingdom']

In [46]:
ranks = ["kingdom", "phylum", "class", "order", "family"]
print(ranks)
ranks.sort()
print(ranks)

['kingdom', 'phylum', 'class', 'order', 'family']
['class', 'family', 'kingdom', 'order', 'phylum']

In [47]:
numbers = [1, 4, 3, 2, 7]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 7]

In [48]:
# number strings are sorted in aphabetic order
numbers = ["1", "7", "10", "15", "3"]
numbers.sort()
print(numbers)

['1', '10', '15', '3', '7']

In [49]:
numbers = [1, 4, 3, 2, 7]
numbers.sort(reverse=True)
print(numbers)

[7, 4, 3, 2, 1]

In [50]:
numbers = [1, 4, 3, 2, 7, 5, 27, 13, 12]
numbers.sort()
print(numbers)
biggest_number = numbers[-1]
print(biggest_number)

[1, 2, 3, 4, 5, 7, 12, 13, 27]
27

In [51]:
numbers = [1, 4, 3, 2, 7, 5, 27, 13, 12]
numbers.sort(reverse=True)
print(numbers)
biggest_number = numbers[0]
print(biggest_number)

[27, 13, 12, 7, 5, 4, 3, 2, 1]
27

In [53]:
numbers = [1, 4, 3, 2, 7, 5, 27, 13, 12]
numbers.sort()
numbers.reverse()
print(numbers)
biggest_number = numbers[0]
print(biggest_number)

[27, 13, 12, 7, 5, 4, 3, 2, 1]
27

### Loops

In [56]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print(apes[0] + " is an ape")
print(apes[1] + " is an ape")
print(apes[2] + " is an ape")
print(apes[3] + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

IndexError: list index out of range

In [57]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    print(ape + "is an ape")

Homo sapiensis an ape
Pan troglodytesis an ape
Gorilla gorillais an ape

In [59]:
# for LOOP_VARIABLE in SEQUENCE:
#     do something
for var in apes:
 print(var + " is an ape")
 print("apes are fun")

Homo sapiens is an ape
apes are fun
Pan troglodytes is an ape
apes are fun
Gorilla gorilla is an ape
apes are fun

In [60]:
# for LOOP_VARIABLE in SEQUENCE:
#     do something
for var in apes:
 print(var + " is an ape")
     print("apes are fun")

IndentationError: unexpected indent (1800601841.py, line 5)

In [61]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    print(ape, "is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [66]:
# one line by itself is a simple statement
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
# a loop is a kind of compound statement
for ape in apes:
    # inside the loop body
    name_length = len(ape)
    first_letter = ape[0]
    print(ape, "is an ape. Its name starts with", first_letter)
    # print with multiple parameters converts each parameter to a string
    print("Its name has", name_length, "letters")
    print()
# outside the loop body
print("end of the loop")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters

Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters

Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

end of the loop

In [69]:
name = "martin"
for character in name:
    print("one character is:", character)
# sequence types like loops and strings are iterable

one character is: m
one character is: a
one character is: r
one character is: t
one character is: i
one character is: n

In [68]:
name = "martin"
print(name[0])

m

In [76]:
# from string to list
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(species)
for sp in species:
    print(sp)

['melanogaster', 'simulans', 'yakuba', 'ananassae']
melanogaster
simulans
yakuba
ananassae

In [77]:
# join a list together to make a string
names = ["peter", "paul", "mary"]
join_with = ","
# join is a string method
# it takes a string and then joins the elements of the list using that string
joined = join_with.join(names)
print(joined)
joined

peter,paul,mary

'peter,paul,mary'

In [75]:
# join is not a list method
names = ["peter", "paul", "mary"]
names.join(",")

AttributeError: 'list' object has no attribute 'join'

## Iterating over lines in a file

In [79]:
input_file = open("mydna.txt")
for line in input_file:
    print(line.rstrip("\n"))

ACTGATCGATTACGTATAGTAG
AATTCTATCATACATATATATCGATGCGTTCAT

In [82]:
input_file = open("mydna.txt")
for line in input_file:
    # replace line variable with the line with end of line (and other whitespace) removed
    line = line.rstrip()
    print(line)
    print(len(line))

ACTGATCGATTACGTATAGTAG
22
AATTCTATCATACATATATATCGATGCGTTCAT
33

In [83]:
input_file = open("mydna.txt")
for line in input_file:
    # replace line variable with the line with end of line (and other whitespace) removed
    dna = line.rstrip()
    print(dna)
    print(len(dna))

ACTGATCGATTACGTATAGTAG
22
AATTCTATCATACATATATATCGATGCGTTCAT
33

### Using ranges to iterate

In [84]:
protein = "vlspadktnv"
#          0123456789
protein_part = protein[:4]
for amino_acid in protein_part:
    print(amino_acid)

v
l
s
p

In [85]:
protein = "vlspadktnv"
protein_part1 = protein[:4]
protein_part2 = protein[:5]
protein_part3 = protein[:6]
parts = [protein_part1, protein_part2, protein_part3]
for part in parts:
    print(part)

vlsp
vlspa
vlspad

In [86]:
for number in range(5):
    print(number)

0
1
2
3
4

In [87]:
print(range(5))

range(0, 5)

In [88]:
for number in range(3, 5):
    print(number)

3
4

In [89]:
for number in range(4, 7):
    print(number)

4
5
6

In [90]:
protein = "vlspadktnv"
for num in range(4, 7):
    protein_part = protein[:num]
    print(protein_part)

vlsp
vlspa
vlspad

#### Accumulator pattern

In [95]:
# challenge: add the numbers from 1 to 3
total = 0
for num in range(1, 4):
    print("number:", num)
    total = total + num
print(total)

number: 1
number: 2
number: 3
6

In [96]:
total = 0
num = 1
print("number:", num)
total = total + num
num = 2
print("number:", num)
total = total + num
num = 3
print("number:", num)
total = total + num
print(total)

number: 1
number: 2
number: 3
6

In [99]:
# challenge: multiply together the numbers from 1 to 3
# multiply operator: *
total = 1  # start off with the mathematical identity for this operation
for num in range(1, 4):
    print("number:", num)
    total = total * num
print("total:", total)

number: 1
number: 2
number: 3
total: 6

In [100]:
# challenge: multiply together the numbers from 1 to 10
# multiply operator: *
total = 1  # start off with the mathematical identity for this operation
for num in range(1, 11):
    print("number:", num)
    total = total * num
print("total:", total)

number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9
number: 10
total: 3628800

In [101]:
# challenge: multiply together the numbers from 1 to 100
# multiply operator: *
total = 1  # start off with the mathematical identity for this operation
for num in range(1, 101):
    print("number:", num)
    total = total * num
print("total:", total)

number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9
number: 10
number: 11
number: 12
number: 13
number: 14
number: 15
number: 16
number: 17
number: 18
number: 19
number: 20
number: 21
number: 22
number: 23
number: 24
number: 25
number: 26
number: 27
number: 28
number: 29
number: 30
number: 31
number: 32
number: 33
number: 34
number: 35
number: 36
number: 37
number: 38
number: 39
number: 40
number: 41
number: 42
number: 43
number: 44
number: 45
number: 46
number: 47
number: 48
number: 49
number: 50
number: 51
number: 52
number: 53
number: 54
number: 55
number: 56
number: 57
number: 58
number: 59
number: 60
number: 61
number: 62
number: 63
number: 64
number: 65
number: 66
number: 67
number: 68
number: 69
number: 70
number: 71
number: 72
number: 73
number: 74
number: 75
number: 76
number: 77
number: 78
number: 79
number: 80
number: 81
number: 82
number: 83
number: 84
number: 85
number: 86
number: 87
number: 88
number: 89
number: 90
number: 91
number: 92
number: 93
number: 94
number: 95
number: 96
number: 97
number: 98
number: 99
number: 100
total: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

letters = ['a', 'b', 'c', 'd', 'e']
string = ''
for letter in letters:
    string = string + letter
print(string)

In [104]:
letters = ['a', 'b', 'c', 'd', 'e']
string = ''
for letter in letters:
    string = string + letter + '|'
print(string)

a|b|c|d|e|

In [105]:
sequences = ['ACTG', 'AAATGGT', 'AGGTC']
total_length = 0
for sequence in sequences:
    length = len(sequence)
    total_length = total_length + length
print(total_length)

16

### Exercises

In [113]:
# read in the sequences from dna_strings.txt
# and count the total length of sequences in dna_strings.txt
input_file = open("dna_strings.txt")
total_length = 0
for line in input_file:
    sequence = line.rstrip("\n")
    total_length = total_length + len(sequence)
    print(sequence)
print("total length:", total_length)

ATGCCATGATC
ACCTGATGAA
ATTGAACGGACGATGG
total length: 37

In [116]:
input_file = open("dna_strings.txt")
file_contents = input_file.read()
without_end_of_lines = file_contents.replace('\n', '')
without_end_of_lines
total_length = len(without_end_of_lines)
print(total_length)

37

#### Processing DNA in a file

In [117]:
# 1. Make a file with each line starting with the same sequence at the start
# ACTAAAGTTGAACTAAGGA
# ACTAAGTTAACGGT
# ACTAAGGGACCAGGT
# 2. Call this file dna_with_adapter.txt
# 3. Read in the file and remove the adapter string (ACTAA) from each line
# 4. Write the sequences without the adapter to a new file (dna_without_adapter.txt)
# 5. print to the screen the length of each sequence without the adapter